@import "../../style/colors.scss";

#header{
    background-color: $whiteColor !important;
    .btn-create-account{
        border: none;
        border-radius: 5px;
        height: 40px;
        margin: 8px;
        font-weight: 600;
        &.btn-login{
            background-color: $whiteColor;
        }
        &.btn-signup{
            background-color: $blackColor;
            color: $whiteColor;
            padding: 0 16px;
        }
    }
}