@import '.././../style/colors.scss';
.login-container{
    .login-header{
        height: 45px;
        display: flex;
        justify-content: end;
        align-items: center;
        margin-right: 20px;
        button{
            border: 1px solid #ccc;
            border-radius: 0;
        }
    }
    .login-content{
        display: flex;
        height: calc(100vh - 45px);
        .form-login{
            padding: 2rem;
            margin: auto;
            height: 70vh;
            text-align: center;
            .form-group{
                text-align: left;
                margin: 1em 0 0 0;
                label{
                    margin: 4px 0; 
                }
            }
            .forgot-password-container{
                text-align: right;
                font-size: 0.8rem;
            }
            button{
                margin: 1rem 0;
                width: 100%;
                background-color: $blackColor;
                color: $whiteColor;
            }
            .btn-by-stand-other{
                width: 100%;
                border: 1px solid #ccc;
                margin: 8px 0;
                span{
                    margin-left: 10px;
                    font-weight: 600;
                }
            }
        }
    }

}